body,
html {
    margin: 0;
    padding: 0;
}

.contact-wrapper {
    width: 100%;
    background-color: #FFEEAC;
}

.contact-container {
    width: 1440px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid black;
}
.contact-content{
    text-align: center;
}