.navbar{
    /*position: fixed;*/
    width: 100%;
    margin: 0;
    height: 60px;
    /*border-bottom: 1px solid black;*/
    /*background-color: aliceblue;*/
    top: 0;
    left: 0;
    /*z-index: 9999;*/
}
/*.logo{*/
/*    margin-top: -12px;*/
/*}*/
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-elements ul {
    display: flex;
    /*align-items: center;*/
    list-style-type: none;
    text-transform: capitalize;
    margin: 0 auto;
}

.nav-elements ul li {
    margin-right: 60px;
    font-size: 18px;

}
.nav-elements ul li{
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.nav-elements ul li:active{
    cursor: pointer;
    text-underline: none;
}
.nav-elements ul li:hover{
    cursor: pointer;
    color: orange;
    /*transform: scale(1.1);*/
    /*transition: ease-in 0.5s;*/
}
